.vote_container {
  min-height: 200px;
  background: antiquewhite;
}

.vote_title {
  padding: 5px;
}

.vote_item {
  margin: 10px;
}

.vote_List {
  margin: 10px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}
